# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=35
    - CONDA_PY=36
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "cLpZIR+Z6lB1QuOvknpyP7PdCS5PCeFiCYGI3SgnFAJbrTm7MX0kLYa4Ce0VRsOVtPQURrAWhWfR8y7GLuiz5kPLXR8OnHP89aPOWhd3uwywTp0VG107oYSVwLXa/1LOFzw84TEiALnnbAvbmdQ5vOi+lghLzpzlcDeoHug+XvYyxGYjYxlcAIV69F3WLyTghwNGCGl9CWMHl8sESMgQIQCMjFtPLH42xKVN1YTlZf/846V9+IOlic41v+Ouga3bc4/e7qu3RkSlSPY3FoBJ5EI9dzEmqcwPdzD5oufx5MD0CCleMs0BbHXKJAREgxE8MMtt/EQPXuWQ0o8K3SXAZY06KSoIoW37lrC7kLx8IvEceGG2G2pi6MSZMqQ13VRpBmYabqoMZY1OACtdGPfGs2L2MUDY03s/YXY0xEWoJWEKzWP780ukxNln7RnDb5q9KRXDZos7ofM7SwQ7PCEuBkWR+Z1ad//JACsTQEtMvMFDMXk6v64xgrh8DWvZt3sEEQMzK8VG+ZRsFTg/NpGUsMrrXAxfLugoEVzcIE5SvtjfTaAgbDdOn9FIqXtVSAqo+Dg6226ajVCeiyZFGKPgRvO7B52CFQK1oJ7amx6SVk9Bz8emm9XZoTtBoQ8J+rjsGgvegyjXPOJhbiyU/G1a9yNufsPs/Itq55pjU7KY4QI="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
